<section >
  <nav  class="navbar navbar-expand navbar-secondary bg-secondary ">
    <a href="#" class="navbar-brand">Tutorial CRUD</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorial</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add Tutorial</a>
      </li>
    </div>
    <button class="btn btn-dark shadow" (click)="chageTheme()">{{"light" ? "Dark mode": "Light Mode"}}</button>
  </nav>

  <div class="container mt-3" >
    <router-outlet></router-outlet>
  </div>
</section>


